<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<startup>
		<supportedRuntime sku=".NETFramework,Version=v4.7.2" version="v4.0"/>
	</startup>
<connectionStrings>
	<add name="defaultConnction" providerName="System.Data.SqlClient"
		 connectionString="Server=DESKTOP-47F36RI\SQLEXPRESS;Database=ADO;Integrated Security=True"/>
</connectionStrings>
</configuration>                     